$accentColor = #009999

.home-blog .hero .action, .home-blog .hero .description, .home-blog .hero h1 {
    color: #fff!important;
} 

#veditor {
    background-image: url('/blog/评论.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}